background {
    color: green;
}
header {
    text-align: center;
    background: #000 url("images/lightning.png");
    background-size: cover;
    color: white;

}
body {
    background: "rgb(145,186,242)";
}
img {
    margin: 40px 0px 0px 0px;
    border: 7px solid white;
    border-radius: 20px;
}
